// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "~bootstrap/scss/bootstrap";

.container {
    border: 2px solid #5f30e2;
    // background-color: #5f30e2;
    border-radius: 8px;
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}

.header-container {
    background-color: #5f30e2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: azure;
    padding: 20px;
}

.content-container {
    margin: 0px;
    padding: 0px;
    min-height: 30vh;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

.navbar-nav > .nav-link {
    font-size: 20px;
    margin-right: 25px;
    color: azure;
}

.nav-link:hover {
    text-decoration: underline;
}

.router-link-exact-active {
    text-decoration: underline;
    font-weight: bolder;
}

// .nav-container {
//     // border: 2px solid #5f30e2;
//     padding: 20px;
//     background-color: #5f30e2;
//     color: azure;
// }

// .btn_nav {
//     // margin: 0px;
//     margin-right: 40px;
// }

.shadow {
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
        0 15px 40px rgba(166, 173, 201, 0.2);
}

.table {
    margin-bottom: 20px;
}

p {
    font-size: 20px;
}

h1 {
    margin: 0;
    padding: 10px;
    // background-color: #5f30e2;
    // border-radius: 8px;
    color: azure;
}
.empty-cart {
    text-align: center;
    margin: 0 auto;
    font-weight: bolder;
    width: 100%;
}

// button {
//     margin: 5px;
// }

.btnCheckout {
    margin: 20px;
    padding: 5px 10px;
}

// .blue {
//     border: 1px solid blue;
//     background-color: blue;
//     color: white;
// }

// .red {
//     color: red;
// }

// .green {
//     color: green;
// }

// .show {
//     display: block;
// }

// .hidden {
//     display: none;
// }

// button:disabled {
//     background-color:red;
//   }
